<!DOCTYPE html> 
<html> 
  <head> 
  <meta charset="utf-8" /> 
  <title>&{'views.mobile.accueil.title'}</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />  
  <link rel="stylesheet" href="@{'/public/stylesheets/mobile/text.css'}" />
  
  <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="@{'/public/javascripts/mobile/fonction.js'}"></script>
  
  <script type="text/javascript" src="@{'/public/javascripts/jquery.form.js'}"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script> 
  
  <script type="text/javascript">
      messDoit="&{'views.mobile.messDoit'}";
      messA="&{'views.mobile.messA'}";
      messErrorNom="&{'views.mobile.messErrorNom'}";
      messErrorParticipants="&{'views.mobile.messErrorParticipants'}";
  </script>
  
  </head>
<body> 
 
<!-- Page d'accueil --> 
<div data-role="page" id="accueil" data-theme="b"> 
 
  <div data-role="header"> 
    <div>
    <p style="text-align:center;">&{'views.mobile.accueil.title'}</p> 
    </div>
  </div><!-- /header --> 
 
  <div data-role="content"> 
    
    <p>&{'views.mobile.accueil.message1'}</p> 

    <a id="btnCommencer" href="#form" data-role="button">&{'views.mobile.accueil.btnstart'}</a>
    
    #{mobile/chooseversion /}
    
  </div><!-- /content --> 
  
  #{mobile/footer /}
</div><!-- /page --> 
 
 
<!-- Formulaire --> 
<div data-role="page" id="form" data-theme="b"> 
 
  <div data-role="header"> 
    <a href="#accueil" data-icon="arrow-l">&{'views.mobile.btnback'}</a>
    <h1>&{'views.mobile.form.title'}</h1> 
  </div><!-- /header --> 
 
  <div data-role="content"> 
    
    <form id="formPrincipal" action="@{Application.save(json)}" method="post">
      <input type="hidden" id="nbPers" name="nbPers" value="0">
      
    <div data-role="fieldcontain">
             <label for="devise">&{'views.mobile.form.labeldevise'}</label>  
           <input type="text" name="devise" id="devise" value="€"  /> 
    </div>  
    
      
    <div data-role="fieldcontain">
      <p>&{'views.mobile.form.labelparticipants'}
      <a id="btnAjoutPersonne" href="#dialogpersonne" data-role="button" data-icon="plus" data-transition="pop" data-inline="true">&{'views.mobile.form.btnajouter'}</a>
       </p>
    
       
    
      <ul id="listePersonnes" data-role="listview" data-inset="true" data-split-icon="delete" data-split-theme="d">
        
          
      </ul>
      
      <p><span class="messError" id="messErrorParticipants"></span></p>

    </div>   
      <input type="submit" data-theme="b" value="&{'views.mobile.form.btnpartager'}">
    
    </form>
    
    #{mobile/chooseversion /}
    
  </div><!-- /content --> 
  
  #{mobile/footer /}
</div><!-- /page --> 


<!-- Resultat --> 
<div data-role="page" id="resultat" data-theme="b"> 
 
  <div data-role="header">
    <a href="#form" data-icon="arrow-l">&{'views.mobile.btnback'}</a> 
    <h1>&{'views.mobile.result.title'}</h1> 
  </div><!-- /header --> 
 
  <div data-role="content"> 
    <h3>&{'views.mobile.result.subtitle1'}</h3>
      <p>&{'views.mobile.result.message1'} <span id="resultCoutUnitaire"></span> <span id="resultDevise"></span>.</p>
      
      <table id="resultPersonnes">

      <tr>
          <th>&{'Nom'}</th>
         <!-- <th>&{'Email'}</th> --> 
          <th>&{'Montant_depense'}</th> 
         <!-- <th>&{'Coeff'}</th>
          <th>&{'Solde'}</th> -->
      </tr>

       </table>
      
    <h3>&{'views.mobile.result.subtitle2'}</h3>
      <ul id="resultTransactions">
      </ul>
      
      #{mobile/chooseversion /}
      
  </div><!-- /content --> 
  
  #{mobile/footer /}
</div><!-- /page --> 

<div data-role="page" id="dialogpersonne"> 
    <div data-role="header" data-theme="b"> 
      <a href="#form" data-icon="delete">&{'views.mobile.dialogpersonne.btnannuler'}</a>
      <h1 id="dialogPersonneTitre">&{'views.mobile.dialogpersonne.title'}</h1> 
    </div> 
 
    <div data-role="content" data-theme="b"> 
    <form id="formPersonne" action="">
      <div data-role="fieldcontain">
             <label for="nom">&{'views.mobile.dialogpersonne.nom'} *:</label>  
           <input type="text" name="nom" id="nom" autofocus /> 
           <p><span class="messError" id="messErrorNom"></span></p>
      </div>
      <div data-role="fieldcontain">
             <label for="montant">&{'views.mobile.dialogpersonne.montantdepense'} ( <span id="deviseLabel">€</span> )*:</label>  
           <input type="number" name="montant" id="montant" value="0" min="0" step="1" /> 
      </div>              
      <div data-role="fieldcontain">
           <label for="coeff">&{'views.mobile.dialogpersonne.coeff'} *:</label>  
           <input type="number" name="coeff" id="coeff" placeholder="0" value="1" min="0" step="1"  /> 
           <p style="font-size:0.8em;font-style:italic;">&{'views.form.step2.message2'}</p>
      </div>
      <div data-role="fieldcontain">
             <label for="email">&{'views.mobile.dialogpersonne.email'} :</label>  
           <input type="email" name="email" id="email" placeholder="adresse@mail.fr"  /> 
      </div>
      
      <fieldset class="ui-grid-a">
            <div class="ui-block-a"><a href="#form" data-theme="c" data-role="button" data-transition="fade">&{'views.mobile.dialogpersonne.btnannuler'}</a></div>
            <div class="ui-block-b"><a id="btnSubmitPersonne" data-role="button"  data-theme="b">&{'views.mobile.dialogpersonne.btnok'}</a></div>    
      </fieldset>  
      
    </form> 

    </div> 
</div> 

<div style="display:none;">
    <li id="lignePersonneModele">
      <a id="nom-pers" href="#dialogpersonne"  data-rel="dialog">Personne</a>
      <a id="btnSupprPersonne">&{'views.mobile.btnsuppr'}</a>
      <input type="hidden" id="nom-pers-1" name="nom-pers-1">
      <input type="hidden" id="montant-pers-1" name="montant-pers-1">
      <input type="hidden" id="coeff-pers-1" name="coeff-pers-1">
      <input type="hidden" id="email-pers-1" name="email-pers-1">
    </li>
</div>
</body> 
</html> 


